@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    font-family: 'Nerko One', cursive;
    background-color: black;
    color: white;
    margin-top:  10%;
    margin-left: 10px;
}

#finalScore {
    border: gold 3px solid;
    padding-top: 15px;
    margin-left: 33%;
    margin-bottom: 40px;
    width: 30%;
    height: 80px;
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
}

.high-container {
    width: 35%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 30%;
    padding: 10px;
    text-align: center;
    border: purple 3px solid;
    border-radius: 8px;
 }

#goHome {
    font-size: 20px;
    padding: 20px;
    width: 70%;
    color: hotpink;
    background-color: paleturquoise;
    border-color: purple;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 45%;
}

#highScoresList {
    list-style: none;
    margin-bottom: 10px;
}

.high-score {
    font-size: 30px;
}

@media screen and (max-width: 400px){
    .container {
        min-width: 400px;
    }
}

@media screen and (max-width: 768px){
    .container {
        min-width: 768px;
    }
}

@media screen and (max-width: 1080px){
    .container {
        min-width: 1080px;
    }
}